In [1]:
import numpy as np 
import pandas as pd

In [2]:
filelist = ["R2R_2010.csv",
            "R2R_2011.csv",
            "R2R_2012.csv",
            "R2R_2013.csv",
            "R2R_2014.csv",
            "R2R_2015.csv",
            "R2R_2016.csv",
            "2017_R2R_Dataset.csv",
            "2018_Response_to_Resistance_Data.csv",
            "2019_Response_to_Resistance_Data.csv"]

In [3]:
column_names10_16 = {
                ' RIN':'RIN', 
                ' Primary Key': 'Primary Key', 
                ' Date Occurred': 'Date Occurred', 
                ' Time Occurred': 'Time Occurred', 
                ' Location':'Location',
                ' Area Command': 'Area Command', 
                ' Nature of Contact': 'Nature of Contact', 
                ' Reason Desc': 'Reason Desc', 
                ' R2R Level':'R2R Level',
                'Master Subject ID': 'Master Subject ID', 
                ' Subject Sex':'Subject Sex', 
                ' Subject Race':'Subject Race',
                ' Subject Ethnicity': 'Subject Ethnicity', 
                ' Subject Conduct Desc': 'Subject Conduct Desc', 
                ' Subject Resistance':'Subject Resistance',
                ' Weapon Used 1': 'Weapon Used 1', 
                ' Weapon Used 2': 'Weapon Used 2', 
                'Weapon Used 3': 'Weapon Used 3', 
                ' Weapon Used 4':'Weapon Used 4',
                ' Weapon Used 5': 'Weapon Used 5', 
                ' Number Shots': 'Number Shots', 
                ' Subject Effects':'Subject Effects',
                ' Effect on Officer': 'Effect on Officer', 
                ' Officer Organization Desc':'Officer Organization Desc',
                ' Officer Commission Date': 'Officer Commission Date', 
                'Officer Yrs of Service':'Officer Yrs of Service', 
                ' X-Coordinate':'X-Coordinate',
                ' Y-Coordinate':'Y-Coordinate', 
                'CouncilDistrict':'CouncilDistrict'   
}

column_names17 = {
        'RIN':'RIN',
        'Primary Key':'Primary Key',
        'Date  Occurred':'Date Occurred',
        'Time  Occurred':'Time Occurred',
        'Location':'Location',
        'Area  Command':'Area Command',
        'Nature of Contact':'Nature of Contact',
        'Reason Desc':'Reason Desc',
        'R2R Level':'R2R Level',
        'Master Subject ID':'Master Subject ID',
        'Subject  Sex':'Subject Sex',
        'Subject  Race':'Subject Race',
        'Subject  Ethnicity':'Subject Ethnicity',
        'Subject Conduct Desc':'Subject Conduct Desc',
        'Subject Resistance':'Subject Resistance',
        'Weapon Used 1':'Weapon Used 1',
        'Weapon Used 2':'Weapon Used 2',
        'Weapon Used 3':'Weapon Used 3',
        'Weapon Used 4':'Weapon Used 4',
        'Weapon Used 5':'Weapon Used 5',
        'Number  Shots':'Number Shots',
        'Subject Effects':'Subject Effects',
        'Effect on Officer':'Effect on Officer',
        'Officer  Organization Desc':'Officer Organization Desc',
        'Officer  Commission Date':'Officer Commission Date',
        'Officer Yrs of Service':'Officer Yrs of Service',
        'Y-Coordinate':'Y-Coordinate',
        'Council District':'Council District',
        'CENSUS_TRACT':'CENSUS_TRACT',
        'COUNTY':'COUNTY',
        'Location 1':'Location 1'
}

column_names18 = {
        'RIN':'RIN',
        'Primary Key':'Primary Key',
        'Date  Occurred':'Date Occurred',
        'Time  Occurred':'Time Occurred',
        'Location':'Location',
        'Area  Command':'Area Command',
        'Nature of Contact':'Nature of Contact',
        'Reason Desc':'Reason Desc',
        'R2R Level':'R2R Level',
        'Master Subject ID':'Master Subject ID',
        'Subject  Sex':'Subject Sex',
        'Subject  Race':'Subject Race',
        'Subject  Ethnicity':'Subject Ethnicity',
        'Subject Conduct Desc':'Subject Conduct Desc',
        'Subject Resistance':'Subject Resistance',
        'Weapon Used 1':'Weapon Used 1',
        'Weapon Used 2':'Weapon Used 2',
        'Weapon Used 3':'Weapon Used 3',
        'Weapon Used 4':'Weapon Used 4',
        'Weapon Used 5':'Weapon Used 5',
        'Number  Shots':'Number Shots',
        'Officer  Organization Desc':'Officer Organization Desc',
        'Officer  Commission Date':'Officer Commission Date',
        'Officer Yrs of Service':'Officer Yrs of Service',
        'X-Coordinate':'X-Coordinate',
        'Council District':'Council District',
        'CENSUS_TRACT':'CENSUS_TRACT',
        'ZIP':'ZIP',
        'COUNTY':'COUNTY',
        'county description':'county description'
}
column_names19 = {'RIN':'RIN',
        'Primary Key':'Primary Key',
        'Date  Occurred':'Date Occurred',
        'Time  Occurred':'Time Occurred',
        'Location':'Location',
        'Area_Command':'Area Command',
        'Nature of Contact':'Nature of Contact',
        'Reason Desc':'Reason Desc',
        'R2R Level':'R2R Level',
        'Master Subject ID':'Master Subject ID',
        'Subject  Sex':'Subject Sex',
        'Subject  Race':'Subject Race',
        'Subject  Ethnicity':'Subject Ethnicity',
        'Subject Conduct Desc':'Subject Conduct Desc',
        'Subject Resistance':'Subject Resistance',
        'Weapon Used 1':'Weapon Used 1',
        'Weapon Used 2':'Weapon Used 2',
        'Weapon Used 3':'Weapon Used 3',
        'Weapon Used 4':'Weapon Used 4',
        'Weapon Used 5':'Weapon Used 5',
        'Number  Shots':'Number Shots',
        'Effect on Officer':'Effect on Officer',
        'Officer  Organization Desc':'Officer Organization Desc',
        'Officer  Commission Date':'Officer Commission Date',
        'Officer Yrs of Service':'Officer Yrs of Service',
        'X-Coordinate':'X-Coordinate',
        'Council District':'Council District',
        'Census Tract':'Census Tract',
        'ZIP':'ZIP',
        'County':'County',
        'County desc':'County desc'
}
rename_dict = {"R2R_2010.csv":column_names10_16,
            "R2R_2011.csv":column_names10_16,
            "R2R_2012.csv":column_names10_16,
            "R2R_2013.csv":column_names10_16,
            "R2R_2014.csv":column_names10_16,
            "R2R_2015.csv":column_names10_16,
            "R2R_2016.csv":column_names17,
            "2017_R2R_Dataset.csv":column_names17,
            "2018_Response_to_Resistance_Data.csv":column_names18,
            "2019_Response_to_Resistance_Data.csv":column_names19
}
col_selection = [
    "RIN",
    "Primary Key",
    "Date Occurred",
    "Area Command",
    "Nature of Contact",
    'Reason Desc', 
    'R2R Level',
    'Master Subject ID', 
    'Subject Sex', 
    'Subject Race',
    'Subject Ethnicity', 
    'Subject Conduct Desc'
]

In [4]:
df = pd.DataFrame()
for filename in filelist:
    df_0 = pd.read_csv(filename, na_values=np.nan)
    df_0.rename(columns=rename_dict[filename], inplace=True)
    df_0=df_0[col_selection]
    df_0['Date Occurred'] = pd.to_datetime(df_0['Date Occurred'])
    
    #fix race variable and drop the other two 
    df_0['Race'] = df_0['Subject Race'].copy()
    df_0['Race'][(df_0['Subject Ethnicity'] == 'H') & (df_0['Subject Race'] == 'W')] = "H"
    df_0.drop(['Subject Race','Subject Ethnicity'], axis=1, inplace=True)
    
    #fix level of force: mixed force-> highest level of force 
    df_0['R2R Level'] = df_0['R2R Level'].replace({34:3,
                           23:2,
                           234:2,
                           24:2})
    
    ## I commented this out b/c two police beating up one person should count as multiple records. Just recognize what you're measuring. It's not the count of subjects that force was used against. It's instances of force. 
    #drop duplicate RIN's 
    #difference = len(df_0['RIN']) - len(df_0['RIN'].unique())
    #print(f"{filename}: has {difference} duplicates removed.")
    #df_0.drop_duplicates(subset=['RIN'],inplace=True)
    
    #Only look at traffic stop force 
    df_0['Nature of Contact'].replace("1-TRAFFIC STOP [Motor Vehicle Stop]","TRAFFIC STOP", inplace=True)
    df_0 = df_0[df_0['Nature of Contact'] == "TRAFFIC STOP"]
    df_0.drop(['Nature of Contact'],axis=1,inplace=True)
    
    #append to df 
    df = df.append(df_0)

## Good new, RIN's aren't repeated between years. 
#check if RIN's are reused between the years... 
#difference = len(df['RIN']) - len(df['RIN'].unique())
#print(f"total has {difference} duplicates removed.")

<ipython-input-4-153690f65f6c>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0['Race'][(df_0['Subject Ethnicity'] == 'H') & (df_0['Subject Race'] == 'W')] = "H"

In [5]:
df_2019 = df_0.copy()
len(df_2019['RIN'])
#losing 3342 out of 5981 is a big deal!. Over half of use of force involved multiple people. 
#I looks like this is something wrong with the data itself. We just won't remove duplicates then...

291

In [6]:
#This is everything from 2010 to 2019 without removing duplicate RIN's. 
df['Race'].value_counts()

H    839
B    799
W    538
A      6
U      6
M      3
P      2
Name: Race, dtype: int64

In [ ]:
#Notice that this is a very different distribution than use of force on the whole. 
#Traffic stop force does appear to be different... How would you quantify this?

In [8]:
df_2019.columns

Index(['RIN', 'Primary Key', 'Date Occurred', 'Area Command', 'Reason Desc',
       'R2R Level', 'Master Subject ID', 'Subject Sex', 'Subject Conduct Desc',
       'Race'],
      dtype='object')

In [10]:
df_2019['Race'].value_counts(), df_2019['Race'].count()

(H    130
 B     98
 W     57
 P      2
 M      1
 A      1
 Name: Race, dtype: int64,
 289)

In [11]:
df_2019.pivot_table(index=['Race'], columns="R2R Level", aggfunc='size', fill_value=0)

R2R Level  2   3   4
Race
A          1   0   0
B          7  48  43
H          7  60  63
M          0   1   0
P          0   1   1
W          5  18  34

In [13]:
#count each race, group by year 
y = df['Date Occurred'].dt.year
df.groupby(y)['Race'].count().to_frame()

               Race
Date Occurred
2010            139
2011            208
2012            236
2013            238
2014            228
2015            207
2016            186
2017            235
2018            227
2019            289

In [163]:
#count each race, group by year 
y = df['Date Occurred'].dt.year
df.groupby(y)['Race'].value_counts().to_frame()

                    Race
Date Occurred Race
2010          B       56
              H       47
              W       34
              U        2
2011          H       85
              B       69
              W       54
2012          B       96
              H       85
              W       52
              A        2
              M        1
2013          H       90
              W       75
              B       73
2014          H       95
              B       70
              W       61
              A        2
2015          B       82
              H       66
              W       57
              A        1
              U        1
2016          H       75
              B       62
              W       49
2017          B       94
              H       94
              W       47
2018          B       99
              H       72
              W       52
              U        3
              M        1
2019          H      130
              B       98
              W       57
              P        2
              A        1
              M        1

In [166]:
y = df['Date Occurred'].dt.year
df.groupby(y)['Race'].count().to_frame()

               Race
Date Occurred
2010            139
2011            208
2012            236
2013            238
2014            228
2015            207
2016            186
2017            235
2018            227
2019            289

In [184]:
a = df.groupby(y)['Race'].value_counts().to_frame()
b = df.groupby(y)['Race'].count().to_frame().rename(columns={'Race':'Sum'})
a = a.join(b)
a['Proportions'] = round(a['Race']/a['Sum']*100)
a

                    Race  Sum  Proportions
Date Occurred Race
2010          B       56  139         40.0
              H       47  139         34.0
              W       34  139         24.0
              U        2  139          1.0
2011          H       85  208         41.0
              B       69  208         33.0
              W       54  208         26.0
2012          B       96  236         41.0
              H       85  236         36.0
              W       52  236         22.0
              A        2  236          1.0
              M        1  236          0.0
2013          H       90  238         38.0
              W       75  238         32.0
              B       73  238         31.0
2014          H       95  228         42.0
              B       70  228         31.0
              W       61  228         27.0
              A        2  228          1.0
2015          B       82  207         40.0
              H       66  207         32.0
              W       57  207         28.0
              A        1  207          0.0
              U        1  207          0.0
2016          H       75  186         40.0
              B       62  186         33.0
              W       49  186         26.0
2017          B       94  235         40.0
              H       94  235         40.0
              W       47  235         20.0
2018          B       99  227         44.0
              H       72  227         32.0
              W       52  227         23.0
              U        3  227          1.0
              M        1  227          0.0
2019          H      130  289         45.0
              B       98  289         34.0
              W       57  289         20.0
              P        2  289          1.0
              A        1  289          0.0
              M        1  289          0.0

In [ ]:
### Plot three lines, index "Race" == "W","B","H" for 2010-2019

In [207]:
### Average level of force used against each race 
df[['Date Occurred', 'Race','R2R Level']].groupby([y, 'Race']).mean()

                    R2R Level
Date Occurred Race
2010          B      3.000000
              H      2.829787
              U      3.000000
              W      2.911765
2011          B      2.956522
              H      2.917647
              W      2.925926
2012          A      3.000000
              B      2.905263
              H      2.894118
              M      3.000000
              W      2.846154
2013          B      2.986301
              H      2.955556
              W      2.920000
2014          A      3.000000
              B      2.814286
              H      2.852632
              W      2.934426
2015          A      3.000000
              B      2.841463
              H      2.818182
              U      2.000000
              W      2.824561
2016          B      2.758065
              H      2.866667
              W      2.918367
2017          B      2.840426
              H      2.744681
              W      2.829787
2018          B      2.878788
              H      2.861111
              M      3.000000
              U      3.333333
              W      2.846154
2019          A      2.000000
              B      3.367347
              H      3.430769
              M      3.000000
              P      3.500000
              W      3.508772

In [208]:
a = df[['Date Occurred', 'Race','R2R Level']].groupby([y, 'Race']).sum()
b = df[['Date Occurred', 'Race','R2R Level']].groupby([y, 'Race']).count().drop(columns=['R2R Level']).rename(columns = {'Date Occurred':'Count'})
a = a.join(b)
a['Avg Force'] = a['R2R Level']/a['Count']
a

                    R2R Level  Count  Avg Force
Date Occurred Race
2010          B         168.0     56   3.000000
              H         133.0     47   2.829787
              U           6.0      2   3.000000
              W          99.0     34   2.911765
2011          B         204.0     69   2.956522
              H         248.0     85   2.917647
              W         158.0     54   2.925926
2012          A           6.0      2   3.000000
              B         276.0     96   2.875000
              H         246.0     85   2.894118
              M           3.0      1   3.000000
              W         148.0     52   2.846154
2013          B         218.0     73   2.986301
              H         266.0     90   2.955556
              W         219.0     75   2.920000
2014          A           6.0      2   3.000000
              B         197.0     70   2.814286
              H         271.0     95   2.852632
              W         179.0     61   2.934426
2015          A           3.0      1   3.000000
              B         233.0     82   2.841463
              H         186.0     66   2.818182
              U           2.0      1   2.000000
              W         161.0     57   2.824561
2016          B         171.0     62   2.758065
              H         215.0     75   2.866667
              W         143.0     49   2.918367
2017          B         267.0     94   2.840426
              H         258.0     94   2.744681
              W         133.0     47   2.829787
2018          B         285.0     99   2.878788
              H         206.0     72   2.861111
              M           3.0      1   3.000000
              U          10.0      3   3.333333
              W         148.0     52   2.846154
2019          A           2.0      1   2.000000
              B         330.0     98   3.367347
              H         446.0    130   3.430769
              M           3.0      1   3.000000
              P           7.0      2   3.500000
              W         200.0     57   3.508772

In [216]:
np.product([10,np.e])

27.18281828459045

In [ ]:
### Plot three lines, index "Race" == "W","B","H" for 2010-2019

In [209]:
df['R2R Level'].value_counts()

3.0    1820
2.0     194
4.0     161
1.0      29
0.0       9
Name: R2R Level, dtype: int64